.DS_Store
npm-debug.log
test/unit/coverage
test/e2e/reports
selenium-debug.log
api/vendor/
# api/
api/composer.lock
# src/components/increment
node_modules/
src/config.js
# api/.env
dist/
api/node_modules/