// $primary: #1e90ff;
// $darkPrimary: #0000ff;
// $primary: #999900;
// $darkPrimary: #525100;
$primary: #005b96;
$darkPrimary: #011f4b;
$hover: #ccc;
$secondary: #ffaa81;
$gray: #ccc;
$white: #ffffff;;
$warning: #e0a800;
$danger: #f7786b;
$textBlue: #007bff;